body{background-color:darkgray;}
.nav a {
    float: left;
    padding: 12px;font-size: 17px;
    width: 15%;}
#button{float: left; border-radius: 12px;border-color: blue;color: blue;}
#image{float:left;height: 30px;padding: 0px 12px;}
#vr{float: right;width: 350px;padding: 20px 30px 0px 30px;}
.nav h1{text-align: center;padding: 30px 30px 0px;font-size: 70px;color: blue;}
.nav p{text-align: center;color:black;}
#click{border-radius :50px;margin-left: 25%;border-color:
     blue;background-color: blue;padding: 12px;}
